body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  background-color: black;
  color: white;
}

/* TITLEBAR */
.titlebar {
  height: 20px;
  border: 1px solid red;
}

.titlebar__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
