:root {
  --text: white;
  --text-dim: rgba(255, 255, 255, 0.2);
  --muted: rgba(255, 255, 255, 0.05);
  --muted-hover: rgba(255, 255, 255, 0.5);

  --transition: all 0.3s ease;

  --titlebar-height: 25px;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  background-color: black;
  color: var(--text);
}

/* UTILITIES */
.ui-button {
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--muted);
  transition: var(--transition);
  cursor: pointer;
}

.ui-button:hover {
  color: var(--muted-hover);
}

/* TITLEBAR */
.titlebar {
  height: var(--titlebar-height);
  padding: 0 10px;
}

.titlebar__buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.titlebar__buttons > button {
  background-color: rgba(255, 255, 255, 0);
  color: var(--text);
  border: none;
  height: var(--titlebar-height);
  width: var(--titlebar-height);
  transition: var(--transition);
}

.titlebar__buttons > button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* TASK LIST */
.task-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(95vh - var(--titlebar-height));
  padding: 20px 20px;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.task__name {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 3rem;
  transition: var(--transition);
}

.task__name::before {
  content: "-";
}

.completed {
  color: var(--text-dim);
  text-decoration: line-through;
}

.add-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  width: 90%;
  padding: 0 20px;
}

.add-item-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: 1.5rem;
}

.add-item-field > input {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text);
  font-size: 1.5rem;
  height: 3rem;
  padding: 0 1rem;
  border: 2px solid var(--muted);
  transition: var(--transition);
}

.add-item-field > input:hover {
  border: 2px solid var(--muted-hover);
}

.add-item-field > input:active {
  border: 2px solid var(--muted-hover);
}
