:root {
  --text: white;
  --muted: rgba(255, 255, 255, 0.1);
  --musted-hover: rgba(255, 255, 255, 0.5);
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  background-color: black;
  color: var(--text);
}

/* TITLEBAR */
.titlebar {
  height: 25px;
  padding: 0 10px;
}

.titlebar__buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.titlebar__buttons > button {
  background-color: rgba(255, 255, 255, 0);
  color: var(--text);
  border: none;
  height: 25px;
  width: 25px;
  transition: all 0.3s ease;
}

.titlebar__buttons > button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
